In [1]:
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from sklearn import metrics
import seaborn as sns
test_pred=pd.read_csv('test_pred.csv')

test_pred.date=test_pred.date.astype('datetime64[ns]')

test_pred[['KG_LIQUIDO','KG_LIQUIDO_pred']]=(test_pred[['KG_LIQUIDO','KG_LIQUIDO_pred']]/10**6).astype(int)
test_pred=test_pred.rename(columns={'KG_LIQUIDO':'kt','KG_LIQUIDO_pred':'kt_pred'})
test_pred

,date,oc_pred,oc,CO_ANO,kt_pred,kt,CO_MES,nick,SG_UF_NCM,CO_PAIS,CO_URF
0,2024-04-01,1,1,2024,25,52,4,MOP_k,PR,676,917800
1,2024-04-01,1,1,2024,25,16,4,MOP_k,PR,999,917800
2,2024-04-01,0,0,2024,18,0,4,UREIA_k,PR,676,817800
3,2024-04-01,1,1,2024,18,6,4,UREIA_k,PR,676,917800
4,2024-04-01,1,1,2024,18,22,4,UREIA_k,PR,999,917800
5,2024-04-01,1,0,2024,12,0,4,UREIA_k,RS,676,917800
6,2024-04-01,1,1,2024,12,0,4,UREIA_k,RS,999,917800
7,2009-02-01,1,1,2009,18,2,2,UREIA_k,PR,676,917800

In [2]:
print('accuracy_score ',round(metrics.accuracy_score(test_pred.oc,test_pred.oc_pred),2))
print('precision_score',round(metrics.precision_score(test_pred.oc,test_pred.oc_pred),2))
print('recall_score   ',round(metrics.recall_score(test_pred.oc,test_pred.oc_pred),2))
test_pred_oc=test_pred[(test_pred.oc==1)&(test_pred.oc_pred==1)]
print('r2_score       ',round(metrics.r2_score(test_pred_oc.kt,test_pred_oc.kt_pred),2))

accuracy_score  0.88
precision_score 0.86
recall_score    1.0
r2_score        0.27

In [3]:
test_pred_g=test_pred.groupby(by=['CO_ANO','CO_MES','nick','SG_UF_NCM'])[['kt','kt_pred','oc','oc_pred']].sum().reset_index()
test_pred_g.loc[test_pred_g.oc>1,'oc']=1
test_pred_g.loc[test_pred_g.oc_pred>1,'oc_pred']=1

In [4]:
print('accuracy_score ',round(metrics.accuracy_score(test_pred_g.oc,test_pred_g.oc_pred),2))
print('precision_score',round(metrics.precision_score(test_pred_g.oc,test_pred_g.oc_pred),2))
print('recall_score   ',round(metrics.recall_score(test_pred_g.oc,test_pred_g.oc_pred),2))
test_pred_g_oc=test_pred_g[(test_pred_g.oc==1)&(test_pred_g.oc_pred==1)]
print('r2_score       ',round(metrics.r2_score(test_pred_g_oc.kt,test_pred_g_oc.kt_pred),2))

accuracy_score  1.0
precision_score 1.0
recall_score    1.0
r2_score        0.39

In [5]:
test_pred_g

   CO_ANO  CO_MES     nick SG_UF_NCM  kt  kt_pred  oc  oc_pred
0    2009       2  UREIA_k        PR   2       18   1        1
1    2024       4    MOP_k        PR  68       50   1        1
2    2024       4  UREIA_k        PR  28       54   1        1
3    2024       4  UREIA_k        RS   0       24   1        1